<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Amazon Web Service</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/starter/index']">Home</a></li>
            <li class="breadcrumb-item active"> Amazon Web Service</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Amazon Web Services (AWS)</h5>

              <p class="card-text">
                Amazon Web Services (AWS) is a secure cloud services platform, offering compute power, database
                storage, content delivery and other functionality to help businesses scale and grow. Explore how
                millions of customers are currently leveraging AWS cloud products and solutions to build sophisticated
                applications with increased flexibility, scalability and reliability.

              </p>

              <a [routerLink]="['/dashboard/dashboard1']" class="card-link">Card Dashboard</a>
              <a [routerLink]="['/theme']" class="card-link">Another theme</a>
            </div>
          </div>

          <div class="card card-primary card-outline">
            <div class="card-body">
              <h5 class="card-title">DevOps</h5>

              <p class="card-text">
                DevOps is the combination of cultural philosophies, practices, and tools that increases an
                organization’s ability to deliver applications and services at high velocity: evolving and improving
                products at a faster pace than organizations using traditional software development and infrastructure
                management processes. This speed enables organizations to better serve their customers and compete more
                effectively in the market.
              </p>
              <a [routerLink]="['/dashboard/dashboard1']" class="card-link">Card Dashboard</a>
              <a [routerLink]="['/theme']" class="card-link">Another theme</a>
            </div>
          </div><!-- /.card -->
        </div>
        <!-- /.col-md-6 -->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h5 class="m-0">Programming Language</h5>
            </div>
            <div class="card-body">
              <h6 class="card-title">Java/J2EE</h6>

              <p class="card-text">
                The Java Platform, Enterprise Edition (Java EE) is a collection of Java APIs owned by Oracle that
                software developers can use to write server-side applications. It was formerly known as Java 2
                Platform, Enterprise Edition, or J2EE.

              </p>
              <a [routerLink]="['/starter/index']" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card card-primary card-outline">
            <div class="card-header">
              <h5 class="m-0">CI/CD</h5>
            </div>
            <div class="card-body">
              <h6 class="card-title">CI/CD</h6>

              <p class="card-text">
                The technical goal of CI is to establish a consistent and automated way to build, package, and test
                applications. With consistency in the integration process in place, teams are more likely to commit
                code changes more frequently, which leads to better collaboration and software quality.

                A mature CI/CD practice has the option of implementing continuous deployment where application changes
                run through the CI/CD pipeline and passing builds are deployed directly to production environments.
                Teams practicing continuous delivery elect to deploy to production on daily or even hourly schedule,
                though continuous delivery isn’t always the optimal for every business application.

              </p>
              <a [routerLink]="['/starter/index']" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>