<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Amazon Web Service</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/starter/index']">Home</a></li>
            <li class="breadcrumb-item active"> Amazon Web Service</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Amazon Web Services (AWS)</h5>

              <p class="card-text">
                Amazon Web Services (AWS) is a secure cloud services platform, offering compute power, database
                storage, content delivery and other functionality to help businesses scale and grow. Explore how
                millions of customers are currently leveraging AWS cloud products and solutions to build sophisticated
                applications with increased flexibility, scalability and reliability.

              </p>

              <a [routerLink]="['/dashboard/dashboard1']" class="card-link">Card Dashboard</a>
              <a [routerLink]="['/theme']" class="card-link">Another theme</a>
            </div>
          </div>

          <div class="card card-primary card-outline">
            <div class="card-body">
              <h5 class="card-title">DevOps</h5>

              <p class="card-text">
                DevOps is the combination of cultural philosophies, practices, and tools that increases an
                organization’s ability to deliver applications and services at high velocity: evolving and improving
                products at a faster pace than organizations using traditional software development and infrastructure
                management processes. This speed enables organizations to better serve their customers and compete more
                effectively in the market.
              </p>
              <a [routerLink]="['/dashboard/dashboard1']" class="card-link">Card Dashboard</a>
              <a [routerLink]="['/theme']" class="card-link">Another theme</a>
            </div>
          </div><!-- /.card -->
        </div>
        <!-- /.col-md-6 -->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h5 class="m-0">Programming Language</h5>
            </div>
            <div class="card-body">
              <h6 class="card-title">Java/J2EE</h6>

              <p class="card-text">
                The Java Platform, Enterprise Edition (Java EE) is a collection of Java APIs owned by Oracle that
                software developers can use to write server-side applications. It was formerly known as Java 2
                Platform, Enterprise Edition, or J2EE.

              </p>
              <a [routerLink]="['/starter/index']" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card card-primary card-outline">
            <div class="card-header">
              <h5 class="m-0">CI/CD</h5>
            </div>
            <div class="card-body">
              <h6 class="card-title">CI/CD</h6>

              <p class="card-text">
                The technical goal of CI is to establish a consistent and automated way to build, package, and test
                applications. With consistency in the integration process in place, teams are more likely to commit
                code changes more frequently, which leads to better collaboration and software quality.

                A mature CI/CD practice has the option of implementing continuous deployment where application changes
                run through the CI/CD pipeline and passing builds are deployed directly to production environments.
                Teams practicing continuous delivery elect to deploy to production on daily or even hourly schedule,
                though continuous delivery isn’t always the optimal for every business application.

              </p>
              <a [routerLink]="['/starter/index']" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->

  <div class="card container">
    <div class="card-header">
      Web identity federation
    </div>
    <div class="card-body">
      <h5 class="card-title">Web identity federation</h5>


      <ul>
        <li> Let you give your users access to AS resources after they have successfully authenticated with a web-based
          identity provider like Amazon, Facebook and Google.
          Following successful authentication, the user receives as authentication code from Web ID provider, which
          they can trade for temporary AWS security credentials.
        </li>

      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">AWS Cognito provides web identity federation with the following feature:</h5>
      <ul>
        <li>AWS Cognito provides web identity federation with the following feature:</li>

        <li>

          Sign-up and sign-in to your apps.
        </li>

        <li>
          Acts as identity broker between y
          our application and web ID providers, so you don’t need to write any additional code
        </li>
        <li>
          Synchronizes user data for multiple devices. Seamless experiences.
        </li>
        <li>Recommended for all mobile application AWS services.</li>
        <li>
          Cognito broker between the app and Facebook or Google to provide temporary credential which map to an IAM
          role allowing access to the required resources.
          No need for the application to embed or store AWS credential locally on the device and it gives user a
          seamless experience across all mobile devices.

        </li>
        <li>
          Cognito tracks the association between user identity and the various different devices they sign-in-from.
          In order to provide the seamless user experience for your application, Cognito uses Push
          to push updates and <strong>Synchronize</strong> user date across multiple devices.
          Amazon SNS is used to send the silent push notification to all the devices associated with a given identity
          whenever data stored in the cloud changes

        </li>

      </ul>
    </div>

    <div class="card-footer text-muted">
      Whats up !
    </div>
  </div>





  <div class="card-body card-header">
    <h5 class="card-title">Cognito User pools</h5>
    <ul>
      <li>User Pools are user directories used to manage sign-up and sign-in functionalities for mobile and web
        application.
        User can sign-in directly to user Pool, or indirectly via identity provider like Facebook or Google. Cognito
        acts as an Identity Broker between the ID provider and AWS. Successful authentication generates a number of
        JSON web token (JWTs).
      </li>
    </ul>
  </div>


  <div class="card-body card-header">
    <h5 class="card-title">Identity Pools</h5>
    <ul>
      <li>Identity Pools enable you to create unique identities for your user and authenticate them with identity
        providers. With an identity, you can obtain temporary, limited privilege AWS credentials to access other AWS
        services.

      </li>
    </ul>
  </div>


  <div class="card-body card-header">
    <h3>Inline Policies vs Managed Polices vs Custom Policies</h3>
    <h5 class="card-title">Manages Policies</h5>
    <ul>
      <li>A Managed Policy is an IAM policy which is created and administered by AWS.</li>
      <li>
        AWS provide Managed Policies for common use cases bases on job function. E.g. AmazonDynamoDBFullAccess,
        AWSCodeCommitPowerUser, AmazonEC2ReadOnlyAccess etc.

      </li>
      <li>
        These AWS-provided policies allow you to assign appropriate permission to your users, group and role without
        having to write the policy yourself.
        A single Managed Policy be attached to multiple user, group or roles within the same AWS account and across
        different accounts.
        You cannot change the permission defined in an AWS Manages Policy.
        AWS occasionally update the permission defined in an AWS managed policy.
      </li>
    </ul>
    <h5 class="card-title">Inline policy</h5>
    <ul>

      <li>An inline policy is an IAM policy which is actually embedded within the user, group or role to which it
        applies, there is strict 1:1 relationship between the entity and the policy.
        When you delete the user, group or role in which the inline policy is embedded, the policy is also be deleted.
        In most cases, AWS recommends using Managed Policies or inline Policies.
        Inline Policies are useful when you want to be sure that the permission in a policy are not inadvertently
        assigned to any other user, group or role than the one for which they’re intended. (i.e. You are creating a
        policy that must only ever be attached to a single user, group or role.)
      </li>
    </ul>

    <h5 class="card-title">Customer Managed Policy</h5>
    <ul>

      <li>
        Managed by you
      </li>
      <li>
        It can assigned to multiple user, group or role in your account.
      </li>
      <li>
        In most cases, AS recommends using Managed policies over inline Policies.
      </li>
    </ul>

  </div>
  <div class="card-body card-header">
    <h5 class="card-title">STS AssumeRoleWithWebIdentity</h5>
    <ul>
      <li>• assume-role-with-web-identity is an API provided by STS (Security Token service).</li>
      <li>Returns temporary security credentials for users authenticated by mobile or web application or using a Web ID
        provider like Facebook, google or Amazon ect.
        For mobile application, Cognito is recommended.
      </li>
      <li>Regular web ap5plication can use the STS assume-role-with-web-identity API.</li>
      <li>If successful, STS will return temporary credential enabling access to AWS recourses.</li>
      <li>• AssumedRoleUser ARN and AssumeRoleID- are used to programmatically reference the temporary credential- not
        an IAM role or user.</li>

    </ul>
  </div>
  <div class="card-body card-header">
    <h5 class="card-title">Cross Account Access</h5>
    <ul>
      <li>Many AWS customers use separate AWS accounts for their development and production resources. This separation
        allows them to cleanly separate different types of resources and can also provide some security benefits.</li>
      <li>Cross account access makes it easier to you to work productively within a multi-account (or multi role) AWS
        environment by making it easy for you to switch roles within the AWS Management console. You can now sign in to
        the console using IAM username then switch the console to manage another account without having to enter (or
        remember) another user name and password.</li>
    </ul>
    <h4>Steps</h4>
    <ul>
      <li>
        • Identify our account numbers. </li>
      <li> • Create a group in IAM-dev. </li>
      <li> • Create a user in IAM-Dev. </li>
      <li> • Log into production </li>
      <li>• Create a “read-write-app-bucket” policy. </li>
      <li>• Create the “UpdateApp” Cross Account ~role. </li>
      <li>• Apply the newly created policy to the role. </li>
      <li>• Log into Developer account. </li>
      <li>• Create a new inline policy. </li>
      <li> Apply a new inline policy. </li>
      <li>Apply it to the Developer group. </li>
      <li>Login as john </li>



    </ul>
  </div>
  <div class="card-body card-header">
    <h5 class="card-title">Web identity federation</h5>
    <ul>
      <li>kk</li>
    </ul>
  </div>
  <div class="card-body card-header">
    <h5 class="card-title">Web identity federation</h5>
    <ul>
      <li>kk</li>
    </ul>
  </div>
  <div class="card-body card-header">
    <h5 class="card-title">Web identity federation</h5>
    <ul>
      <li>kk</li>
    </ul>
  </div>
  <div class="card-body card-header">
    <h5 class="card-title">Web identity federation</h5>
    <ul>
      <li>kk</li>
    </ul>
  </div>
  <div class="card-body card-header">
    <h5 class="card-title">Web identity federation</h5>
    <ul>
      <li>kk</li>
    </ul>
  </div>
  <div class="card-body card-header">
    <h5 class="card-title">Web identity federation</h5>
    <ul>
      <li>kk</li>
    </ul>
  </div>
  <div class="card-body card-header">
    <h5 class="card-title">Web identity federation</h5>
    <ul>
      <li>kk</li>
    </ul>
  </div>



</div>