<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Kubernetes</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a [routerLink]="['/starter/index1']">Home</a></li>
                        <li class="breadcrumb-item active">Kubernetes</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="content">
        <div class="container-fluid">
            <!-- start -->

            <div>
                <ul class="list-group">
                    <li class="list-group-item active">Deploy nginx container</li>
                    <li class="list-group-item">kubectl run my-web --image=nginx --port=80</li>
                    <li class="list-group-item active">#Expose nginx container</li>
                    <li class="list-group-item">kubectl expose deployment my-web --target-port=80 --type=NodePort</li>
                    <li class="list-group-item active">Get the node IP of conatiner</li>
                    <li class="list-group-item">minikube ip</li>
                    <li class="list-group-item active">#Check the nodePort</li>
                    <li class="list-group-item">kubectl describe svc my-web</li>
                    <li class="list-group-item active"># Access nginx from curl</li>
                    <li class="list-group-item">PORT=$(kubectl get svc my-web -o go-template='&#123;&#123;(index
                        .spec.ports 0).nodePort&#125; }')</li>
                    <li class="list-group-item">IP=$(minikube ip)</li>
                    <li class="list-group-item">curl $IP:$PORT</li>

                </ul>
            </div>
            <div>
                <p>
                    <img src="assets/img/kubernetes/2019_0001_k8_infra.png" class="mx-auto rounded img-fluid" alt="Kubernetes image">
                </p>
            </div>

            <!-- end -->

        </div>
    </div>
</div>