<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">DevOps Tool Ansible</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a [routerLink]="['/starter/index1']">Home</a></li>
                        <li class="breadcrumb-item active">Ansible</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="content">
        <div class="container-fluid">
            <div>
                <div class="">

                    <p>
                        Being able to configure and update your environments is an important part of DevOps. Doing
                        these tasks quickly and easily is even more important. Ansible helps solve the problem of
                        manually configuring servers one-by-one. Using Ansible as an automation tool, system
                        administrators can update and configure servers from a single machine. This course is a way to
                        learn how to set up Ansible and a sandbox environment to learn in.

                    </p>
                    <p>
                        You’ll learn how to manage servers using Ansible playbooks, stand up new environments, and
                        monitor your cloud infrastructure. Basic understanding of server configuration and unix
                        commands is required.

                    </p>
                    <p>In this course, we cover:</p>
                    <ul>
                        <li>The history of Ansible, and why it is used today.</li>
                        <li>Some of the other orchestration tools available in the market like Chef, Puppet and
                            Saltstack.</li>
                        <li>How to set up Ansible locally and configure local environment to use Ansible.</li>
                        <li>Learn how to read Ansible commands and build playbooks.</li>
                        <li>Learn how to stand up a simple infrastructure from nothing to fully functional configured
                            environment.</li>
                        <li>Learn how to get started with Ansible, one of the most popular configuration management
                            tools out there. If you’re passionate about DevOps, Ansible is a great tool to get started
                            with.</li>
                    </ul>
                    <hr class="my-1">
                </div>
            </div>
        </div>
    </div>
</div>